@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Roboto:wght@300;400&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  --base: #282c34;
  --mono-1: #abb2bf;
  --mono-2: #818896;
  --mono-3: #5c6370;
  --cyan: #56b6c2;
  --blue: #61aeee;
  --purple: #c678dd;
  --green: #98c379;
  --red1: #e06c75;
  --red2: #be5046;
  --orange1: #d19a66;
  --orange2: #e6c07b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--base);
  color: var(--mono-1);
}

p {
  margin: 0.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.5rem;
}

.container {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 25px;
}

#landing {
  display: flex;
  height: 100vh;
  background-image: url("../img/landing50.png");
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 0 0 20px black;
}

#landing h1 {
  font-size: 7rem;
  font-weight: 400;
  margin-bottom: 0;
}

#landing h1:hover {
  animation: cycle 1s infinite alternate linear;
}

#landing h1::after {
  content: "|";
  vertical-align: 0.5rem;
  animation: blink 1s step-end infinite;
}

@keyframes cycle {
  0% {
    color: var(--red1);
  }
  12.5% {
    color: var(--red2);
  }
  25% {
    color: var(--orange1);
  }
  37.5% {
    color: var(--orange2);
  }
  50% {
    color: var(--green);
  }
  75% {
    color: var(--cyan);
  }
  87.5% {
    color: var(--blue);
  }
  100% {
    color: var(--purple);
  }
}

@keyframes blink {
  from,
  to {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}

#landing hr {
  width: 100%;
  height: 5px;
  background: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 20px black;
}

#landing p {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1rem;
}

@media (max-width: 700px) {
  #landing h1 {
    font-size: 6rem;
  }
  #landing p {
    font-size: 1.75rem;
  }
}

@media (max-width: 600px) {
  #landing h1 {
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 1rem;
  }
  #landing p {
    font-size: 1.5rem;
  }
}

section {
  padding: 100px 0;
}

#section1 {
  background: var(--mono-1);
  color: var(--base);
  font-size: 1.25rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
  padding-bottom: 200px;
}

#section2 {
  background: var(--base);
  color: var(--mono-1);
}

#section3 {
  background: var(--mono-1);
  color: var(--base);
}

#footer {
  padding: 25px 0;
  background: var(--base);
  color: var(--mono-1);
}

#footer .container {
  display: flex;
  justify-content: space-between;
}
