---
import LayoutBlog from "@/layouts/layout-blog.astro";
---

<LayoutBlog>
  <header class="space-y-5 font-semibold">
    <h1 class="text-4xl tracking-tight">Hi there, I'm Aakash! 👋</h1>
    <h2 class="text-3xl tracking-tight">Welcome to my blog!</h2>
  </header>
</LayoutBlog>
