---
import BaseLayout from "@/layouts/base-layout.astro";
---

<BaseLayout
  title="404 Not Found"
  description="The page you're looking for doesn't exist."
>
  <main class="flex grow flex-col items-center justify-center gap-3">
    <h1 class="text-6xl font-bold tracking-tight">404</h1>
    <h3 class="text-3xl font-semibold tracking-tight">Not Found</h3>
    <p class="text-lg">The page you're looking for doesn't exist.</p>
  </main>
</BaseLayout>
