---
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="404 Not Found"
  description="The page you're looking for doesn't exist."
>
  <main class="flex grow items-center">
    <section class="container flex flex-col gap-3 text-center">
      <h1 class="text-6xl font-bold tracking-tight">404</h1>
      <h3 class="text-3xl font-semibold tracking-tight">Not Found</h3>
      <p class="text-lg">The page you're looking for doesn't exist.</p>
    </section>
  </main>
</Layout>
