---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Aakash Kc</h1>
  <p>This is a work in progress. Check back soon for updates!</p>
  <p>
    <a href="https://aakashkcx.github.io/old-site/">View my old site here</a>
  </p>
</Layout>
