---
import { Image } from "astro:assets";
import { Github, Linkedin } from "lucide-react";

import Button from "@/components/ui/button.astro";
import Layout from "@/layouts/layout.astro";

import headshot from "@/images/headshot.jpg";
---

<Layout>
  <main class="flex grow items-center justify-center">
    <section
      class="container flex flex-col-reverse items-center justify-between gap-5 text-center lg:flex-row lg:text-left"
    >
      <div class="flex flex-col gap-5">
        <h1 class="text-6xl font-semibold tracking-tight sm:text-8xl">
          Aakash Kc
        </h1>
        <p class="text-lg font-medium">
          This is a work in progress. Check back soon for updates!
        </p>
        <div
          class="flex flex-row flex-wrap justify-center gap-5 lg:justify-start"
        >
          <Button asLink href="/portfolio">Portfolio</Button>
          <Button asLink href="/blog">Blog</Button>
          <Button asLink href="https://github.com/aakashkcx">
            <Github /> Github
          </Button>
          <Button asLink href="https://www.linkedin.com/in/aakashkc/">
            <Linkedin /> LinkedIn
          </Button>
        </div>
      </div>
      <Image
        src={headshot}
        alt="Headshot of Aakash Kc"
        class="aspect-square size-100 h-auto max-w-full rounded-full"
      />
    </section>
  </main>
</Layout>
