---
import { Image } from "astro:assets";

import headshot from "@/assets/images/headshot.jpg";
import Layout from "@/layouts/layout.astro";
---

<Layout title="Resume" description="Hi there, I'm Aakash! Here is my resume!">
  <main class="container flex max-w-3xl grow flex-col gap-10 font-serif">
    <header
      class="flex flex-col-reverse items-center justify-between gap-5 sm:flex-row"
    >
      <div class="flex flex-col gap-5 text-center sm:text-left">
        <h1 class="font-sans text-6xl font-semibold tracking-tight">
          Aakash Kc
        </h1>
        <div class="flex flex-col gap-1">
          <span>London, United Kingdom</span>
          <div
            class="flex flex-row flex-wrap justify-center gap-3 font-medium sm:justify-start"
          >
            <a
              class="underline underline-offset-4"
              target="_blank"
              href="mailto:aakashkc.kc@gmail.com">Email</a
            >
            <a
              class="underline underline-offset-4"
              target="_blank"
              href="https://aakashkcx.github.io/">Website</a
            >
            <a
              class="underline underline-offset-4"
              target="_blank"
              href="https://github.com/aakashkcx/">Github</a
            >
            <a
              class="underline underline-offset-4"
              target="_blank"
              href="https://www.linkedin.com/in/aakashkc/">LinkedIn</a
            >
          </div>
        </div>
      </div>
      <Image
        src={headshot}
        alt="Headshot of Aakash Kc."
        class="aspect-square size-50 h-auto max-w-full rounded-full"
      />
    </header>
    <section class="flex flex-col gap-5">
      <h2 class="border-b pb-2 text-3xl font-semibold tracking-tight">
        Education
      </h2>
      <article class="flex flex-col gap-1">
        <div
          class="flex flex-col justify-between gap-1 sm:flex-row sm:items-center"
        >
          <h4 class="text-xl font-semibold">University of Warwick</h4>
          <span>(Oct 2019 - Jul 2022)</span>
        </div>
        <p>Bachelor of Science (BSc) in Computer Science</p>
      </article>
      <article class="flex flex-col gap-1">
        <div
          class="flex flex-col justify-between gap-1 sm:flex-row sm:items-center"
        >
          <h4 class="text-xl font-semibold">Saint Olave's Grammar School</h4>
          <span>(Sep 2017 - Jun 2019)</span>
        </div>
        <p>
          A Level Maths, Further Maths, Physics, Computer Science, AS Chemistry
        </p>
      </article>
    </section>
    <section class="flex flex-col gap-5">
      <h2 class="border-b pb-2 text-3xl font-semibold tracking-tight">
        Experience
      </h2>
      <article class="flex flex-col gap-1">
        <div
          class="flex flex-col justify-between gap-1 sm:flex-row sm:items-center"
        >
          <h4 class="text-xl font-semibold">JPMorganChase</h4>
          <span>(Sep 2022 - Present)</span>
        </div>
        <p>Software Engineer</p>
        <ul
          class="text-muted-foreground flex list-inside list-disc flex-row flex-wrap gap-x-4 gap-y-1"
        >
          <li>Python</li>
          <li>AWS</li>
          <li>Distributed Systems</li>
        </ul>
      </article>
      <article class="flex flex-col gap-1">
        <div
          class="flex flex-col justify-between gap-1 sm:flex-row sm:items-center"
        >
          <h4 class="text-xl font-semibold">United Codes</h4>
          <span>(Jul 2021 - Sep 2021)</span>
        </div>
        <p>Software Engineer Intern</p>
        <ul class="text-muted-foreground ml-4 list-outside list-disc gap-1">
          <li>
            Supported the launch of Cloud Office Print, a SaaS document
            generation engine.
          </li>
          <li>
            Built the product website and technical documentation using SSG.
          </li>
          <li>
            Implemented new features and improvements across the Python,
            TypeScript, and Java SDKs.
          </li>
        </ul>
      </article>
    </section>
    <section class="flex flex-col gap-5">
      <h2 class="border-b pb-2 text-3xl font-semibold tracking-tight">
        Projects
      </h2>
      <article class="flex flex-col gap-1">
        <div
          class="flex flex-col justify-between gap-1 sm:flex-row sm:items-center"
        >
          <h4 class="text-xl font-semibold">chess-engine</h4>
          <span>(Apr 2023 - Feb 2025)</span>
        </div>
        <div class="flex flex-row flex-wrap gap-x-3 gap-y-1 font-medium">
          <a
            target="_blank"
            href="/portfolio/chess-engine"
            class="underline underline-offset-4">Link</a
          >
          <a
            target="_blank"
            href="/portfolio/chess-game"
            class="underline underline-offset-4">Game</a
          >
          <a
            target="_blank"
            href="https://aakashkcx.github.io/chess-game/"
            class="underline underline-offset-4">Deployment</a
          >
          <a
            target="_blank"
            href="https://www.npmjs.com/package/@aakashkcx/chess-engine"
            class="underline underline-offset-4">Package</a
          >
          <a
            target="_blank"
            href="https://github.com/aakashkcx/chess-engine"
            class="underline underline-offset-4">GitHub</a
          >
        </div>
        <p class="text-muted-foreground">
          Developed a functional chess engine in TypeScript featuring an AI
          agent capable of searching for and recommending optimal moves.
        </p>
        <ul
          class="flex list-inside list-disc flex-row flex-wrap gap-x-4 gap-y-1"
        >
          <li>TypeScript</li>
          <li>AI</li>
          <li>CI/CD</li>
          <li>React</li>
        </ul>
      </article>
      <article class="flex flex-col gap-1">
        <div
          class="flex flex-col justify-between gap-1 sm:flex-row sm:items-center"
        >
          <h4 class="text-xl font-semibold">twitter-clone</h4>
          <span>(Sep 2019 - Jul 2020)</span>
        </div>
        <div class="flex flex-row flex-wrap gap-x-3 gap-y-1 font-medium">
          <a
            target="_blank"
            href="/portfolio/twitter-clone-2019"
            class="underline underline-offset-4">Link</a
          >
          <a
            target="_blank"
            href="https://github.com/aakashkcx/twitter-clone-2019"
            class="underline underline-offset-4">GitHub</a
          >
        </div>
        <p class="text-muted-foreground">
          Created a full-stack web application cloning Twitter's core
          functionality, featuring an Express REST API with JWT authentication
          and a React SPA using Material UI.
        </p>
        <ul
          class="flex list-inside list-disc flex-row flex-wrap gap-x-4 gap-y-1"
        >
          <li>JavaScript</li>
          <li>React</li>
          <li>Express</li>
        </ul>
      </article>
      <article class="flex flex-col gap-1">
        <div
          class="flex flex-col justify-between gap-1 sm:flex-row sm:items-center"
        >
          <h4 class="text-xl font-semibold">algorithms</h4>
          <span>(May 2020 - Oct 2020)</span>
        </div>
        <div class="flex flex-row flex-wrap gap-x-3 gap-y-1 font-medium">
          <a
            target="_blank"
            href="/portfolio/algorithms"
            class="underline underline-offset-4">Link</a
          >
          <a
            target="_blank"
            href="https://aakashkcx.github.io/algorithms/"
            class="underline underline-offset-4">Deployment</a
          >
          <a
            target="_blank"
            href="https://github.com/aakashkcx/algorithms"
            class="underline underline-offset-4">GitHub</a
          >
        </div>
        <p class="text-muted-foreground">
          Built an interactive web application that visualises common sorting
          and pathfinding algorithms, utilising JavaScript and Vue.js.
        </p>
        <ul
          class="flex list-inside list-disc flex-row flex-wrap gap-x-4 gap-y-1"
        >
          <li>JavaScript</li>
          <li>Vue</li>
        </ul>
      </article>
      <article class="text-center">
        Further info about these projects and more can be found
        <a
          target="_blank"
          href="https://aakashkcx.github.io/portfolio/"
          class="underline underline-offset-4">here</a
        >
      </article>
    </section>
    <section class="flex flex-col gap-5">
      <h2 class="border-b pb-2 text-3xl font-semibold tracking-tight">
        Skills
      </h2>
      <ul class="flex list-inside list-disc flex-col gap-3">
        <li>
          <span class="font-semibold underline underline-offset-4"
            >Languages</span
          >: Python, TypeScript, JavaScript, Java
        </li>
        <li>
          <span class="font-semibold underline underline-offset-4"
            >Web Technologies</span
          >: React, HTML, CSS, Tailwind, Websockets
        </li>
        <li>
          <span class="font-semibold underline underline-offset-4">Cloud</span>:
          AWS, CI/CD, Distributed Systems
        </li>
        <li>
          <span class="font-semibold underline underline-offset-4">Tools</span>:
          Git, Linux, Bash
        </li>
      </ul>
    </section>
  </main>
</Layout>

<style is:global>
  @media print {
    :root {
      font-size: 10pt;
    }

    body > header,
    body > footer {
      display: none;
    }

    main {
      padding: 0;
      max-width: none;
    }

    h1 {
      font-size: 36pt;
    }
    h2 {
      font-size: 14pt;
      padding-bottom: 5pt;
    }
    h4 {
      font-size: 12pt;
    }

    img {
      width: 150px;
    }

    .flex-col.gap-10 {
      gap: 7.5pt;
    }

    .flex-col.gap-5 {
      gap: 5pt;
    }
    .flex-col.gap-3 {
      gap: 1pt;
    }
    .flex-col.gap-1 {
      gap: 1pt;
    }
  }
</style>
