---
import { ThemeToggle } from "@/components/theme-toggle";
---

<footer class="mt-auto border-t py-4">
  <div class="container flex flex-row items-center justify-between">
    <div>Built by Aakash Kc</div>
    <ThemeToggle client:load />
  </div>
</footer>
