---
import ThemeToggle from "@/components/theme-toggle.astro";
---

<footer class="mt-auto border-t py-4">
  <div
    class="container flex flex-col-reverse items-center justify-between gap-5 sm:flex-row"
  >
    <div>Built by Aakash Kc</div>
    <ThemeToggle />
  </div>
</footer>
