---
import { Image } from "astro:assets";

import profile from "@/assets/images/profile.png";
import { cn } from "@/lib/utils";

const { pathname } = Astro.url;
---

<header class="container flex flex-row items-center justify-between py-2">
  <div class="flex flex-row items-center gap-3 font-semibold sm:gap-1">
    <a href="/" class="flex flex-row items-center gap-3">
      <Image src={profile} alt="Profile picture" class="size-7 rounded-md" />
      <span class="sr-only sm:not-sr-only">Aakash Kc</span>
    </a>
    <span class="sr-only sm:not-sr-only">/</span>
    <a href="/portfolio">Portfolio</a>
  </div>

  <nav class="flex flex-row items-center gap-3 font-medium">
    <a
      href="/portfolio/projects"
      class={cn(
        "p-2 transition-colors hover:text-primary",
        pathname.includes("/portfolio/projects")
          ? "text-primary"
          : "text-muted-foreground"
      )}>Projects</a
    >
    <a
      href="/portfolio/tags"
      class={cn(
        "p-2 transition-colors hover:text-primary",
        pathname.includes("/portfolio/tags")
          ? "text-primary"
          : "text-muted-foreground"
      )}>Tags</a
    >
  </nav>
</header>
