---
import { Image } from "astro:assets";
import { Github } from "lucide-react";

import profile from "@/images/profile.png";

type Props = { title?: string };

const { title } = Astro.props;

const baseTitle = "Aakash Kc";
const navTitle = title ? `${baseTitle} / ${title}` : baseTitle;
---

<header class="container flex items-center justify-between py-2">
  <a href="/" class="flex items-center gap-3 font-semibold">
    <Image src={profile} alt="profile" class="size-7 rounded-md" />
    <span class="sr-only sm:not-sr-only">{navTitle}</span>
  </a>
  <nav class="flex items-center gap-3 font-medium">
    <a href="/projects" class="p-2">Projects</a>
    <a href="/blog" class="p-2">Blog</a>
    <a href="https://github.com/aakashkcx" class="px-3 py-2">
      <Github className="size-5" />
    </a>
  </nav>
</header>
