---
import { Image } from "astro:assets";
import { Github } from "lucide-react";

import profile from "@/images/profile.png";
---

<header class="container flex flex-row items-center justify-between py-2">
  <div class="flex flex-row items-center gap-1 font-semibold">
    <a href="/" class="flex flex-row items-center gap-3">
      <Image src={profile} alt="profile" class="size-7 rounded-md" />
      <span class="sr-only sm:not-sr-only">Aakash Kc</span>
    </a>
    <span>/</span>
    <a href="/portfolio">Portfolio</a>
  </div>

  <nav class="flex flex-row items-center gap-3 font-medium">
    <a href="/portfolio/projects" class="p-2">Projects</a>
    <a href="/portfolio/tags" class="p-2">Tags</a>
    <a href="https://github.com/aakashkcx" class="p-2">
      <Github className="size-5" />
    </a>
  </nav>
</header>
