---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import ThemeScript from "@/components/ThemeScript.astro";

import "@fontsource-variable/geist";
import "@fontsource-variable/geist-mono";

import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Aakash Kc</title>
    <ThemeScript />
  </head>
  <body class="flex min-h-screen flex-col gap-10">
    <Header />
    <main class="container">
      <slot />
    </main>
    <Footer />
  </body>
</html>
