---
import Footer from "@/components/footer.astro";
import HeaderBlog from "@/components/header-blog.astro";
import BaseLayout, { type LayoutProps } from "@/layouts/base-layout.astro";

type Props = Omit<LayoutProps, "section">;

const { description } = Astro.props;

const defaultDescription = "Hi there, I'm Aakash! Welcome to my blog!";
const pageDescription = description || defaultDescription;
---

<BaseLayout section="Blog" description={pageDescription} {...Astro.props}>
  <HeaderBlog />
  <main class="container flex max-w-3xl grow flex-col gap-10">
    <slot />
  </main>
  <Footer />
</BaseLayout>
