---
import LayoutPortfolio from "@/layouts/layout-portfolio.astro";
---

<LayoutPortfolio>
  <main class="container flex grow flex-col gap-10">
    <header class="space-y-5 font-semibold">
      <h1 class="text-4xl tracking-tight">Hi there, I'm Aakash! 👋</h1>
      <h2 class="text-3xl tracking-tight">Welcome to my portfolio!</h2>
    </header>
  </main>
</LayoutPortfolio>
