---
import { getCollection } from "astro:content";

import { Badge } from "@/components/ui/badge";
import LayoutPortfolio from "@/layouts/layout-portfolio.astro";

const projects = (await getCollection("projects"))
  .filter((project) => project.data.published)
  .toSorted((a, b) => b.data.started.valueOf() - a.data.started.valueOf());

const tags = Array.from(
  new Set(projects.flatMap((project) => project.data.tags))
);

const tagCounts = tags
  .map((tag) => ({
    tag,
    count: projects.filter((project) => project.data.tags.includes(tag)).length,
  }))
  .toSorted((a, b) => b.count - a.count);
---

<LayoutPortfolio title="Tags">
  <h1 class="text-center text-4xl font-semibold tracking-tight sm:text-left">
    Tags
  </h1>
  <section class="flex flex-col gap-10">
    {
      tagCounts.map((tc) => (
        <a
          href={`/portfolio/tag/${tc.tag}`}
          class="group flex flex-col items-start gap-3"
        >
          <Badge size="lg">{tc.tag}</Badge>
          <p class="text-muted-foreground group-hover:text-foreground transition-colors">
            {tc.count} {tc.count > 1 ? "Projects" : "Project"}
          </p>
        </a>
      ))
    }
  </section>
</LayoutPortfolio>
